.container{
    border-top: solid 5px  rgb(0, 183, 255); 
    background-color: white;
    padding: 30px  15%;
    border: solid 1px #eee;
}

.container h1{
    text-align: center;
    padding: 30px;
    color:rgba(77, 74, 75, 0.568);
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;
}

 h3{
    text-transform: uppercase;
}
.containerSkill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {  
    margin-left: 20px;


}
.html5{
    color: orange;
}
.css3{
    color: rgb(0, 183, 255);
}
.js{
    color: rgba(0, 128, 43, 0.993);
}