.backgroundCover {
    background: url(../../assets/bg-3.jpg);
    image-orientation: url(../../assets/teclado.jpg);
    width: 100%;
    margin: auto;
    height: 500px;
    background-position: right center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
    font-weight: bolder;
}