.footer {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.face {
    color: blue;
    padding-left: 15px;
}

.linkedin {
    padding: 6px;
}

.git {
    color: white;
}